[submodule "mechanical-macropad/libraries/kicad_lib_tmk"]
	path = mechanical-macropad/libraries/kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk
[submodule "mechanical-macropad/libraries/keyboard_parts.pretty"]
	path = mechanical-macropad/libraries/keyboard_parts.pretty
	url = https://github.com/tmk/keyboard_parts.pretty
[submodule "mechanical-macropad/libraries/keebs.pretty"]
	path = mechanical-macropad/libraries/keebs.pretty
	url = https://github.com/egladman/keebs.pretty
